
<div class="aboutcontainer mx-3">
    <div class= "header">
      <div class= "container mx-0 px-0 mb-4">
        <h2 class ="title">Your bookmarks</h2>
      </div>
    </div>
  </div>


<%= render "recommendations/recommendation-list", list: @bookmarks %>

