<span class="d-flex align-items-center justify-content-end">
  <%= link_to new_user_registration_path do %>
    <button class="" type="button">Become a Rover</button>
  <% end %>
  <%= link_to new_user_session_path do %>
    <button class = "" id = "link" type="button">Log in</button>
  <% end %>
</span>
