// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,700&display=swap');

// Define fonts for body and headers
$body-font: "Roboto", "Helvetica", "sans-serif";
$headers-font: "Poppins", "Helvetica", "sans-serif";

@font-face {
font-family: 'Minute';
src: url('Minute/OTF/Minute.otf') format('opentype');
src: url('Minute/TTF/Minute.ttf') format('truetype');
}


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
