// Specific CSS for your home-page
.title {
  color: #5D6CF3;
  font-size: 20px;
  font-weight: 600;
}

.subtitle {
  color: #343a40;
  font-size: 16px;
}

.underlined-link {
  color: #5D6CF3;
  font-size: 13px;
  font-weight: 400;
  text-decoration: underline;
}
