<ul class="nav nav-tabs mx-3 mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="recommendations-tab" data-toggle="tab" href="#recommendations" role="tab" aria-controls="recommendations" aria-selected="false"><strong>Picks for you!</strong></a>
  </li>
</ul>
<div>
    <% list.keys.each do |category| %>
  <div class="about">
      <h2 class="category"><%= category %></h2>
        <div class="scrolling-wrapper">
          <div class="recomcard">
            <% list[category].each do |recommendation| %>
              <%= render 'recommendations/recomcard', recommendation: recommendation %>
            <% end %>
          </div>
        </div>
    <% end %>
  </div>
</div>
