<div class="recommendations-bg">
  <% list.keys.each do |category| %>
    <h2 class="category"><%= category %></h2>
    <div class="scrolling-wrapper mb-5">
      <div class="recomcard">
        <% list[category].each do |recommendation| %>
          <%= render 'recommendations/recomcard', recommendation: recommendation %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
