
<div class="recomcard recomcard-style">
  <div class="img">
    <img style="height:150px; width:372.59px;" src="https://static.turbosquid.com/Preview/2014/07/11__00_29_26/BPVray05.jpgb8c5a6aa-23d2-4afd-bf0f-fe8c2236eda3Zoom.jpg" alt="">
  </div>
  <div class="title">
    <h1>Black Pearl</h1>
    <i class="fas fa-bookmark fa-xs"></i>
  </div>
  <div class="body">
    <p>Best Barquito in town</p>
  </div>
  <div class="footer">
    <i class="fas fa-map-marker-alt fa-s"></i><p>Caribean</p>
  </div>
</div>

