<ul>
  <li><strong>User</strong>: <%= review.user.first_name %></li>
  <li><strong>Rating</strong>: <%= review.rating %></li>
  <li><strong>Comments</strong>: <%= review.content %></li>
</ul>
<div class="border border-bottom mx-3 mb-3"></div>
