<ul class="nav nav-tabs mx-3 mt-3" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="recommendations-tab" data-toggle="tab" href="#recommendations" role="tab" aria-controls="recommendations" aria-selected="false">
      <strong>Picks for you!</strong>
    </a>
  </li>
</ul>

<%= render "recommendation-list", list: @list %>
