<div class="about">
  <% user.recommendations.each do |recommendation| %>
    <div class="rcard">
      <div class="img"></div>
      <div class="title">
        <h1><%= recommendation.title %></h1>
        <i class="fas fa-bookmark fa-s"></i>
      </div>
      <div class="body">
      <p><%= recommendation.description %></p>
      </div>
      <div class="footer">
        <i class="fas fa-map-marker-alt fa-s"></i><p><%= recommendation.location %></p>
      </div>
    </div>
  <% end %>
</div>
