<div class="home-container">
  <h1 class="title">Join the greatest traveler community.</h1>
  <h2 class="subtitle"><strong>Find a local friend everywhere.</strong></h2>

  <form id="home-form" action="matches" method="POST">
  <h2 class="subtitle">How would you define your taste?</h2>
    <%= render 'layouts/components/tags' %>
    <div class="Where">
      <label class="label" for="locationInput">Where are you going?</label>
        <input type="text" class="form-control" id="location" placeholder="Buenos Aires, Argentina" name="location">
    </div>
    <div class="When">
      <label class="label" for="DateInput">When are you going?</label>
        <input type="text" class="form-control" id="datepicker" placeholder="Select your dates" name="date">
    </div>
    <div class="">
      <input type="submit" value="Find a local" class="btn btn-primary" id="findLocals">
    </div>
  </form>
  <input type="submit" value="Recommend me" class="btn btn-outline-primary" id="Recommend" name="recommendations">
</div>

