<div class="home-container">
  <h1 class="title">Join the greatest traveler community.</h1>
  <h2 class="subtitle">Find a local friend everywhere.</h2>
    <%= render 'layouts/components/tags' %>
  <div class="box">
    <%= link_to "More options +", "", class: "underlined-link" %>
  </div>
  <form action="">
  <div class="Where">
    <label class="label" for="locationInput">Where are you going?</label>
      <input type="text" class="form-control" id="location" placeholder="Buenos Aires, Argentina" name="location">
  </div>
  <div class="When">
    <label class="label" for="DateInput">When are you going?</label>
      <input type="text" class="form-control" id="datepicker" placeholder="04/10/2021" name="date">
  </div>
  <div class="">
    <input type="button" value="Find a local" class="btn btn-primary" id="findLocals">
    <input type="button" value="Recommend me" class="btn btn-outline-primary" id="Recommend">
  </div>
  </form>
</div>
