<div class="home-container">
  <% if !user_signed_in? %>
  <h1 class="title">Join the greatest traveler community.</h1>
  <h2 class="subtitle">Find a local friend everywhere.</h2>
  <% else %>
  <h1 class="title"><%= current_user.first_name.nil? ? "Welcome again!" : "Hi, #{current_user.first_name}!" %></h1>
  <h2 class="subtitle">What do you want to do today?</h2>
  <% end %>

  <form id="home-form" action="matches" method="POST">
    <% if !user_signed_in? %>
  <label class="label" style="margin-bottom: 0px;">Take a sneak peek! Define your taste and see some recommendations:</label>
    <%= render 'layouts/components/tags' %>
    <% end %>
    <div class="Where">
      <label class="label" for="locationInput">Where are you going?</label>
        <input type="text" class="form-control" id="location" placeholder="Buenos Aires, Argentina" name="location">
    </div>
    <div class="When">
      <label class="label" for="DateInput">When are you going?</label>
        <input type="text" class="form-control" id="datepicker" placeholder="Select your dates" name="date">
    </div>
    <% if user_signed_in? %>
    <div class="">
      <input type="submit" value="Find a local" class="btn btn-primary" id="findLocals">
    </div>
  </form>
  <input type="submit" value="Recommend me" class="btn btn-outline-primary" id="Recommend" name="user_recommendations">
   <% else %>
  <input type="submit" value="Take a sneak peek!" class="btn btn-outline-primary" id="Recommend" name="recommendations">
   <% end %>
</div>
<%= render 'loader' %>
