.form-group.hidden {
  margin: 0;
  padding: 0;
}

.aboutcontainer {

  font-family: "Poppins", "Helvetica", "sans-serif";
  padding-top: 24px;
  margin: 0 16px 0 16px;

  h1 {
    font-size: 30px;
    font-family: "Poppins", "Helvetica", "sans-serif";
    font-weight: 600;
  }

  p {
    font-family: "Roboto", "Helvetica", "sans-serif";
    color: grey;
  }

  .header {
    display: flex;
    padding-bottom: 0;

    .title {
      display: flex;
      line-height: 1;

      #flag {
        width: 32px;
        height: 32px;
        line-height: 1;
      }
    }

    #avatar {
      width: 80px;
      height: 80px;
      object-fit: cover;
    }

    .location {
      display: flex;
      line-height: 1;
      color: grey;

      p {
        font-size: 14px;
      }
    }
  }
}

.about {
    width: 100%;
    background-color: #5D6CF3;
    padding-top: 16px;
    padding-bottom: 10px;
    min-height:100%;

  a:hover{
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
    color: $rover-purple;
  }
  a:focus {
    text-decoration: none;
    color: $rover-purple;
  }

  .card {
  width: 95%;
  background-color: white;
  margin: 0px auto 16px auto;
  padding: 16px;
  padding-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);

    .languages-tag {
      background-color: white;
      border: 1px solid #48BF84;
      border-radius: 35px;
      padding: 0px 10px;
      color: #48BF84;
      display: inline-block;
      margin: 4px 0 4px 4px;
      cursor: pointer;
    }
    .interests {
      display: flex;
      background-color: white;
      flex-wrap: wrap;

      .interest-tag {
        color: $rover-purple;
        font-size: 16px;
        padding: 8px 16px;
        text-transform: lowercase;
        font-style: normal;
        margin: 4px 8px 4px 0;
        font-family: $body-font;
      }
    }

    .title {
    display: flex;

      h1 {
        font-size: 16px;
        flex-grow: 1;
        color: black;
        font-family: $headers-font;
      }
    }
  }


  ul {
    list-style: none;
    padding: 0;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
    line-height: 26px;
  }
}

.speech-bubble {
  position: relative;
  background: #00aabb;
  border-radius: .4em;
  content: 'nothing';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 2px solid transparent;
  border-top-color: #00aabb;
  border-bottom: 0;
  border-right: 0;
  margin-left: -1px;
  margin-bottom: -2px;
}

.tab-pane, .tab-content {
  height: 100%;
}
  #about-tab::before {
    content: "About me";
  }
  #recommendations-tab::before {
    content: "Top Recommendations";
  }

@media (min-width: 780px) {


  .total-match-show-container{
    width: 50%;
  margin: 60px auto 0 auto;
      height: auto;
  box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
  border-radius: 16px;  }

  .about {
    width: 100%;
    background-color: #5D6CF3;
    padding-top: 16px;
    margin-bottom: 10px;
    height: auto;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    overflow: hidden;
  }

}
