.new_message {
  flex-grow: 0;
  width: 100%;
}

.btn-airplane {
  color: white;
  background-color: #5D6CF3;
  opacity: 0.8;
  border-radius: 60px;
  height: 45px;
  width: 45px;
}

.chat-input {
  border: none;
  border-top: 1px solid #7c8af6;
  height: 45px;
}
.message_content {
  margin: 0 !important;
  height: 45px;
  border: none;
}

#message_content {
  border: none;
}
#message_content:focus {
  outline: none;
}
.message_content:focus {
  outline: none;
}

.message {
  display: flex;
  margin-bottom: 0;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #F2F9FC;
    }
  }
}

.bg-primary {
    background-color: #5D6CF3 !important;
}

.chat-top {
  display: flex;
  justify-content: left;
  box-shadow: 0 2px 2px -2px rgba(0,0,0,.2);
  padding: 8px;
  background-color: #f8f9fa;
}

.sticky-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.messages-chat-wrapper {
  height: calc(100vh - 115px);
  padding-top: 15px;
  overflow-y: scroll;
}

.title-matches-index2 {
  color: #5D6CF3;
  font-size: 18px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 12px;
  font-family: 'Poppins', sans-serif;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}


#chatter {
  position: fixed;
  bottom:0px;
  width: 100%;
  margin: 0;
}
