.subtitle-small {
  color: #3A3A3A;
  font-size: 16px;
}

.interesttag {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: semibold;
}

#plus {
  line-height: 1.5;
}

#interestlabel {
  color: $rover-purple
}
