.subtitle-small {
  color: #3A3A3A;
  font-size: 16px;
}

.interesttag {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: semibold;
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
  &.active {
    opacity: 1;
    background-color: white;
  }
}

.interesttag label{
  padding: 0px;
  position: relative;
  z-index: 300;
  color: black;
  display: block;
  border-radius: 16px;
  margin-bottom: 0;
  border-color: #5D6CF3;
  font-size: 14px;
}

#plus {
  line-height: 2.5;
  padding-left: 4px;

}

#interestlabel {
  color: $rover-purple;
  padding: 10px 10px 10px 10px;
}

.btn-link {
  color: $rover-purple;
  opacity: 0.75;
  &:hover {
    color: $rover-purple;
    opacity: 1;
  }
}

.category-tag {
  background-color: #626fe1;
  border: 2px solid white;
  border-radius: 35px;
  padding: 0px 14px;
  font-size: 16px;
  color: white;
  display: inline-block;
  margin: 0px;
  margin-bottom: 12px;
  cursor: pointer;
  i {
    padding-right: 5px;
  }
}

.active-tag {
  background-color: white;
  padding: 0px;
  display: inline-block;
  color: $rover-purple;
  div {
    padding: 0px 14px;
    border: 2px solid $rover-purple;
    border-radius: 35px;
  }
}

.interests-choices {
  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }
}


.bg-rover-purple {
  background-color: $rover-purple;
}

.full-size-modal {
  margin: 0;
  opacity: 0.85;
  .modal-header {
    background-color: $rover-purple;
  }

  .modal-body {
    background-color: $rover-purple;
  }

  .modal-footer {
    background-color: $rover-purple;
  }
}

.modal-title-big {
  font-size: 46px !important;
}

.white-cross {
  color: white;
  font-weight: lighter;
  opacity: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
