.bio-match {
  font-size: 14px;
  color: grey;
  justify-content: left;
}

.wrapper-match {
  background: white;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 24px 24px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.items-match {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
}
