.bio-match {
  font-size: 14px;
  color: grey;
  justify-content: left;
}

.wrapper-match {
  background: white;
  width: 90%;
  height: 90%;
  margin: 0 auto;
  padding: 24px 24px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 5px 5px 30px  rgba(50, 50, 50, 0.2);
}

.items-match {
  display: flex;
  justify-content: space-around;
  padding-bottom: 16px;
}

.title-matches-index {
  color: #5D6CF3;
  font-size: 20px;
  font-weight: 600;
  padding-top: 16px;
  padding-bottom: 12px;
  font-style: $headers-font;
}

.avatar-profiles {
  display: flex;
}

.one-message {
  display: flex;
  align-items: center;
}
