.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.logo {
  object-fit: cover;
  font-size: 40px;
  text-decoration: none;
  color: $rover-purple;
}

.logo:hover {
  transition-duration: 1s;
  color: black;
}

p.notifications {
  border-radius: 50%;
  position: absolute;
  top: 7px;
  right: 0;
  left: 0;
  text-align: center;
  font-family: $body-font;
  font-size: 18px;
}

.icon-badge-group .icon-badge-container {
    display: inline-block;
    margin-left:15px;
}

.icon-badge-group .icon-badge-container:first-child {
  margin-left:0;
}

.icon-badge-container {
    margin-top: auto;
    position:relative;
}

.icon-badge-icon {
    font-size: 30px;
    position: relative;
}

.icon-badge {
    background-color: $rover-purple;
    font-weight: 900;
    font-size: 12px;
    color: white;
    text-align: center;
    width:20px;
    height:20px;
    border-radius: 100%;
    position: absolute; /* changed */
    top: -5px; /* changed */
    left: 18px; /* changed */
}
