.nav-tabs{
  background-color:white;

  li.nav-item {
    padding: 0;
    font-size: 15px;

    .nav-link {
      background-color: white;
      color: black;
      border: 1px solid #5D6CF3;
      border-radius: 8px 8px 0 0;
      padding: 0.5rem 0.8rem;
      // // margin-left: -16px;
      // padding-left: 20px;
      // padding-right: 40px;
    }

    .nav-link.active {
      background-color: #5D6CF3;
      color: white;
      border-radius: 8px 8px 0 0;
      // margin-left: -16px;
      // padding-right: 40px;
    }
  }
}
