.ratings {
  margin: auto;
  box-shadow: 10px 10px 30px rgba(0,0,0,0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 16px;
  text-align: center;

  .home-container {
    margin: auto;
    width: auto;
    box-shadow: none;
    padding: auto;
  }

  .ratings-child {
    margin: auto;
  }
  h1 {
    font-size: 18px;
  }
}

.rating-matches {
  margin: auto;
  width: 80%;
  text-align: center;

  .avatar-match.right {
    margin-left: -40px;
    z-index: 99;
    border: 0;
  }
}
