.recommendationcontainer {
  height: 100vh;
  width: 100%;
  margin: auto;
  font-family: "Poppins";
  color: black;

  .header {
    width: 100%;
  }

  .title {
    display: flex;
    padding: 8px 8px 0 16px;

    h1 {
      font-size: 20px;
      color: black;
      flex-grow: 1;
    }

  }

  .rating {
    display: flex;
    padding: 0 16px;
    color: #DAA520;
  }

  .body {
    padding: 8px 16px;
    font-size: 18px;
    color: rgba(0,0,0,0.55);
  }

  .details {
    padding: 8px 16px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .item {
      font-size: 16px;
      width: 160px;
      display: flex;
      color: #5D6CF3;
      line-height: 1;
      padding: 8px;

      h1 {
        font-weight: 600;
        font-size: 16px;
        flex-grow: 1;
      }

      p {
        font-size: 16px;
        color: black;
      }
    }
  }

  .getintouch {
    margin: 0 16px 16px 16px;
  }
}

.recommendations-wrapper-card {
  width: 90%;
  margin: 0px auto 16px auto;
  padding: 16px;
  padding-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.slider-handle {
    top: 2px !important;
    width: 15px !important;
    height: 15px !important;
    background-color: #5d6cf3 !important;
    background-image: none !important;
}

.slider.slider-horizontal {
  width: 100% !important;
}

.slider.slider-horizontal .slider-track {
  height: 8px;
}

.slider-selection {
  background-image: none !important;
  background-color: $rover-purple !important;
}

.tooltip {
  opacity: 1 !important;
  top: 5px;
}

.tooltip-inner {
  background-color: $rover-purple !important;
}

.your-recomcard {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 12px;
}
.subtitle-white {
  color: white;
  font-size: 20px;
}
.recommendations-bg {
    width: 100%;
    background-color: white;

    padding-bottom: 10px;
}

.subtitle-small-bold {
  color: #3A3A3A;
  font-size: 16px;
  font-weight: bold;
}

.scroller {
  margin-bottom: 40px;
}

.review {
    width: 100%;
    padding-top: 16px;
    padding-bottom: 10px;
    min-height:100%;

  a:hover{
    text-decoration: none;
  }

  a:active {
    text-decoration: none;
    color: $rover-purple;
  }
  a:focus {
    text-decoration: none;
    color: $rover-purple;
  }

  .card {
  width: 95%;
  background-color: white;
  margin: 0px auto 16px auto;
  padding: 16px;
  padding-bottom: 12px;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);

    .interests {
      display: flex;
      background-color: white;
      flex-wrap: wrap;

      .interest-tag {
        color: $rover-purple;
        font-size: 16px;
        padding: 8px 16px;
        text-transform: lowercase;
        font-style: normal;
        margin: 4px 8px 4px 0;
        font-family: $body-font;
      }
    }

    .title {
    display: flex;

      h1 {
        font-size: 16px;
        flex-grow: 1;
        color: black;
        font-family: $headers-font;
      }
    }
  }


  ul {
    list-style: none;
    padding: 0;
    color: rgba(0,0,0,0.5);
    font-weight: 400;
    line-height: 26px;
  }
}
