
.category {
  font-weight: bold;
  margin-left: 20px;
  color: white;
}
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;

  .recomcard {
    display: inline-block;
    margin: 20px;
  }
}
.recomcard-style {
  width: 90%;
  margin: 0 auto 16px auto;
  min-height: 200px;
  max-height: 370px;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: 30px 30px 30px rgba(0,0,0,0.1);

  img {
    height: 150px;
    background-color: black;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
  }
  .title {
    display: flex;
    padding: 16px 8px 0 16px;

    h1 {
      font-size: 16px;
      flex-grow: 1;
      color: grey;
      font-family: $headers-font;
      font-weight: 700;
    }
  }

  .body {
      flex-grow: 1;
      padding: 8px 8px 0px 16px;
      margin: 0;
      color: rgba(0,0,0,0.7);
      font-family: $body-font;
  }

  .footer {
    display: flex;
    margin: 0 0 0 16px;
    color: rgba(0,0,0,0.7);
    line-height: 1;
    i {
      padding: 0 8px 0 0;
      margin: 0;
    }
    p {
      font-size: 18px;
    }
  }
}
