.wrapper-add-recommendation {
  width: 90%;
  background: white;
  margin: 0 auto;
  padding: 24px 24px;
  text-align: left;
  border-radius: 5px;
  box-shadow: 0px 3px 3px 0px rgba(50, 50, 50, 0.4);
}

.duration-range {
  color: blue;
}

.check-boxes-cat {
  display: flex;
}
