  <div class="tag-wrapper">

    <div class="tag" style="border-color: #F25252">
      <input type="checkbox" />
      <i class="fa fa-circle fa-2x" style="color: #F25252"></i>
      <label for="">Sports</label>
    </div>

    <div class="tag" style="border-color: #EEB931">
      <input type="checkbox" />
      <i class="fa fa-circle fa-2x" style="color: #EEB931"></i>
      <label for="">Outdoors</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-circle fa-2x"></i>
      <label for="">Going Out</label>
    </div>

    <div class="tag" style="border-color: #85B55F">
      <input type="checkbox" />
      <i class="fa fa-circle fa-2x" style="color: #85B55F"></i>
      <label for="">Food</label>
    </div>

    <div class="tag" style="border-color: #F25252">
      <i class="fa fa-circle fa-2x" style="color: #F25252"></i>
      <input type="checkbox" />
      <label for="">Sightseeing</label>
    </div>

    <div class="tag">
      <i class="fa fa-circle fa-2x"></i>
      <input type="checkbox" />
      <label for="">Culture</label>
    </div>
  </div>
