<div class="tag-wrapper">

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Meat lover</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Vegetarian</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Vegan</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Gluten free</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Fast-food</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Street-food</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Haut cuisine</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Authentic</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">International</label>
    </div>

  </div>
