  <div class="tag-wrapper">
    <div class="tag" style="border-color: #F25252">
      <i class="fa fa-circle fa-2x" style="color: #F25252"></i>
      <input type="radio" name="interests[]" value="Alternative" />
      <label for="" style="color: #F25252">Alternative</label>
    </div>
     <div class="tag" style="border-color: #85B55F">
      <i class="fa fa-circle fa-2x" style="color: #85B55F"></i>
      <input type="radio" name="interests[]" value="Classic" />
      <label for="" style="color: #85B55F">Classic</label>
    </div>
     <div class="tag" style="border-color: #121D2F">
      <i class="fa fa-circle fa-2x" style="color: #121D2F"></i>
      <input type="radio" name="interests[]" value="Boho" />
      <label for="" style="color: #121D2F">Boho</label>
    </div>
     <div class="tag" style="border-color: #4F5776">
      <i class="fa fa-circle fa-2x" style="color: #4F5776"></i>
      <input type="radio" name="interests[]" value="Chic" />
      <label for="" style="color: #4F5776">Chic</label>
    </div>
     <div class="tag" style="border-color: #8873CB">
      <i class="fa fa-circle fa-2x" style="color: #8873CB"></i>
      <input type="radio" name="interests[]" value="Trendy" />
      <label for="" style="color: #8873CB">Trendy</label>
    </div>
     <div class="tag" style="border-color: #2C2B2C">
      <i class="fa fa-circle fa-2x" style="color: #2C2B2C"></i>
      <input type="radio" name="interests[]" value="Classy" />
      <label for="" style="color: #2C2B2C">Classy</label>
    </div>
     <div class="tag" style="border-color: #1A82DC">
      <i class="fa fa-circle fa-2x" style="color: #1A82DC"></i>
      <input type="radio" name="interests[]" value="Intellectual" />
      <label for="" style="color: #1A82DC">Intellectual</label>
    </div>
     <div class="tag" style="border-color: #A6776C">
      <i class="fa fa-circle fa-2x" style="color: #A6776C"></i>
      <input type="radio" name="interests[]" value="Vintage" />
      <label for="" style="color: #A6776C">Vintage</label>
    </div>
  </div>
