  <div class="tag-wrapper">
    <div class="tag" style="border-color: #F25252">
      <i class="fa fa-circle fa-2x" style="color: #F25252"></i>
      <input type="radio" name="interests[]" value="Alternative" />
      <label for="" style="color: black">Alternative</label>
    </div>
     <div class="tag" style="border-color: #85B55F">
      <i class="fa fa-circle fa-2x" style="color: #85B55F"></i>
      <input type="radio" name="interests[]" value="Classic" />
      <label for="" style="color: black">Classic</label>
    </div>
     <div class="tag" style="border-color: #1A82DC">
      <i class="fa fa-circle fa-2x" style="color: #1A82DC"></i>
      <input type="radio" name="interests[]" value="Boho" />
      <label for="" style="color: black">Boho</label>
    </div>
     <div class="tag" style="border-color: #85B55F">
      <i class="fa fa-circle fa-2x" style="color: #85B55F"></i>
      <input type="radio" name="interests[]" value="Chic" />
      <label for="" style="color: black">Chic</label>
    </div>
     <div class="tag" style="border-color: #8873CB">
      <i class="fa fa-circle fa-2x" style="color: #8873CB"></i>
      <input type="radio" name="interests[]" value="Trendy" />
      <label for="" style="color: black">Trendy</label>
    </div>
     <div class="tag" style="border-color: #F25252">
      <i class="fa fa-circle fa-2x" style="color: #F25252"></i>
      <input type="radio" name="interests[]" value="Classy" />
      <label for="" style="color: black">Classy</label>
    </div>
     <div class="tag" style="border-color: #1A82DC">
      <i class="fa fa-circle fa-2x" style="color: #1A82DC"></i>
      <input type="radio" name="interests[]" value="Intellectual" />
      <label for="" style="color: black">Intellectual</label>
    </div>
     <div class="tag" style="border-color: #EEB931">
      <i class="fa fa-circle fa-2x" style="color: #EEB931"></i>
      <input type="radio" name="interests[]" value="Vintage" />
      <label for="" style="color: black">Vintage</label>
    </div>
  </div>
