<div class="tag-wrapper">

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Bars</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Clubs</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Speakeasies</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Rooftop</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Outdoor party</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">BBQ</label>
    </div>

     <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Cocktails</label>
    </div>

  </div>
