<div class="tag-wrapper">

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">History</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Art</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Photography</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Fashion</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Beach</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Theater</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Opera</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Concerta</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Food markets</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Flea markets</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Artisan markets</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Religion</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Politics</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Nature</label>
    </div>

  </div>
