<div class="tag-wrapper">

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Alternative</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Classic</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Boho</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Chic</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Trendy</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Classy</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Intellectual</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Vintage</label>
    </div>

  </div>
