<div class="tag-wrapper">

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Chess</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Bowling</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Billards</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Laser tag</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Birdwatching</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Scuba diving</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Sailing</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Cooking</label>
    </div>

    <div class="tag">
      <input type="checkbox" />
      <i class="fa fa-plus" id="plus">
      </i><label id="interestlabel" for="">Meditation</label>
    </div>

  </div>
